<div itemscope itemtype="http://schema.org/Article"
     id="<%= post.layout %>-<%= post.slug %>" class="article">
	<article class="content-entry" itemprop="articleBody">
		<h1 itemprop="name" class="article__title"><%- post.title %></h1>
		<%- partial('post/date') %>
		<meta itemprop="datePublished" content="2011-05-08T19:30"/>
		<%- post.content %>
		<div id="disqus_thread"></div>
	</article>
</div>

<%- partial('_partial/disqus', null, {cache: true}) %>