<div class="article" itemscope itemtype="http://schema.org/Article"
     id="<%= post.layout %>-<%= post.slug %>" class="article">
	<article class="content-entry" itemprop="articleBody">
		<% if (page.image) { %>
		<div class="article__image-wrapper">
			<picture>
				<!--[if IE 9]><video style="display: none;"><![endif]-->
				<source srcset="<%- page.image %>" media="(min-width: 600px)">
				<!--[if IE 9]></video><![endif]-->
				<img srcset="<%- page.imageSmall %>" alt="<%= page.title %>">
			</picture>
			<% if (page.copyright) { %>
			<span class="image-copyright">&copy; <%- page.copyright %></span>
			<% } %>
		</div>
		<% } %>
		<h1 itemprop="name" class="article__title"><%- post.title %></h1>
		<%- partial('post/date') %>
		<meta itemprop="datePublished" content="2011-05-08T19:30"/>
		<%- post.content %>
		<div id="disqus_thread"></div>
	</article>
</div>

<%- partial('_partial/disqus', null, {cache: true}) %>